.contact {
  width: 100%;
}
.contact-card {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding: 1%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  flex-direction: row;
  flex-wrap: wrap;
}
.add-contact {
  margin-top: 2%;
  margin-left: 12%;
  border: 0;
  border-radius: 6px;
  width: 10%;
  padding: 1%;
  color: #ffff;
  font-size: 16px;
  background-color: darkblue;
  cursor: pointer;
}
.contact-card-person {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
}
.contact-card-person h1 {
  width: 100%;
  margin-left: 10%;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
}
.contact-card-person h2 {
  width: 100%;
  margin-left: 10%;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}
.contact-card-person p {
  margin: 10px;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
.contact-card-person span {
  margin: 4%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0%;
}

.contact-card-person span img {
  border-radius: 50%;
  margin: 0;
}
